@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-rewhite);
  color: var(--color-retext);
}

@theme {
  --color-repurp: #c8a2ff;
  --color-rewhite: #fafafa;
  --color-retext: #2e2a27;
}

section {
  @apply max-w-6xl px-7 mx-auto;
}

.title {
  @apply text-3xl md:text-5xl lg:text-6xl font-bold;
}
